.app-classic-recent-listings h1 label {font-weight:normal; display:block; font-size:50%;}
.app-classic-recent-listings h1 input {font-size:100%; width:80%; text-align:center;}

.app-classic-recent-listings .functions,
.app-classic-recent-listings .datapath {text-align:right; margin:10px;}
.app-classic-recent-listings a.button { cursor:pointer; border:1px solid #aaa; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:2px 5px; }
